{
  "openapi": "3.1.0",
  "info": {
    "title": "Hermes API",
    "description": "Public Hermes API",
    "license": {
      "name": "UNLICENSED"
    },
    "version": "0.0.7"
  },
  "servers": [
    {
      "url": "https://api.hermes-api.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/billing/checkout-session": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "billing_checkout_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stripe Checkout session URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "billing_portal_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stripe billing portal URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/billing/top-ups": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create a Stripe Checkout session for credits top-ups.",
        "description": "This is an API-key authenticated endpoint (AuthContext) that uses a\nconfigured Stripe price id (STRIPE_TOPUP_PRICE_ID) and maps `units`\ndirectly to `line_items[0][quantity]`. Credit accounting is handled by\nthe Stripe webhook inserting into the credit ledger.",
        "operationId": "billing_topup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stripe Checkout URL for top-up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopUpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Health and readiness check.",
        "description": "Returns a small JSON payload with `status` and `service`.",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Hermes API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/hsuf/enrich": {
      "post": {
        "tags": [
          "HSUF"
        ],
        "operationId": "hsuf_enrich",
        "parameters": [
          {
            "name": "include_usage",
            "in": "query",
            "description": "When true, include LLM token usage if available (default: false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HsufEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HSUF product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HsufEnrichResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "get_job_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/listings": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Run the images → eBay listing pipeline.",
        "description": "Returns a synthetic `listing_id` and per‑stage status summaries.",
        "operationId": "create_listing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/listings/continue": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Resume the pipeline with client-provided overrides.",
        "operationId": "create_listing_continue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing continued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/media/uploads": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Create presigned upload session.",
        "operationId": "create_upload_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/media/uploads/{upload_id}/abort": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Abort an upload session.",
        "operationId": "abort_upload_session",
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "description": "Upload session identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Upload aborted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Upload session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/media/uploads/{upload_id}/complete": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Complete an upload session and create a Media record.",
        "operationId": "complete_upload_session",
        "parameters": [
          {
            "name": "upload_id",
            "in": "path",
            "description": "Upload session identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/CompleteUploadRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Upload session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/media/{media_id}": {
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete media (best-effort storage delete).",
        "operationId": "delete_media",
        "parameters": [
          {
            "name": "media_id",
            "in": "path",
            "description": "Media identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Media"
        ],
        "summary": "Update media purpose/order.",
        "operationId": "update_media",
        "parameters": [
          {
            "name": "media_id",
            "in": "path",
            "description": "Media identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMediaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/pricing/quote": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "pricing_quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Estimated credit usage for a sample listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingQuote"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products for the authenticated org.",
        "operationId": "list_products",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max products to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Supabase unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product.",
        "operationId": "create_product",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Supabase unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/products/{product_id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Fetch a single product by id.",
        "operationId": "get_product",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRecord"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Supabase unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete a product.",
        "operationId": "delete_product",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Supabase unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Update product fields.",
        "operationId": "update_product",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Supabase unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/products/{product_id}/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List media for a product.",
        "operationId": "list_product_media",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMediaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "handle_get_usage",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Filter usage to a specific org_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "ISO8601 start of window",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "ISO8601 end of window",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UsageSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "code": {
            "type": [
              "string",
              "null"
            ]
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": "string"
          },
          "fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BillingHistoryEntry": {
        "type": "object",
        "required": [
          "ts",
          "amount_credits",
          "source"
        ],
        "properties": {
          "amount_credits": {
            "type": "integer",
            "format": "int64"
          },
          "reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": "string"
          },
          "ts": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BillingHistoryResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingHistoryEntry"
            }
          }
        }
      },
      "Brand": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CategorySelectionInput": {
        "type": "object",
        "required": [
          "id",
          "tree_id",
          "label",
          "confidence",
          "rationale"
        ],
        "properties": {
          "confidence": {
            "type": "number",
            "format": "float"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "rationale": {
            "type": "string"
          },
          "tree_id": {
            "type": "string"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "properties": {
          "cancel_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Stripe price id. Optional if `price_lookup_key` is provided."
          },
          "price_lookup_key": {
            "type": [
              "string",
              "null"
            ],
            "description": "Stripe price lookup key (we resolve to a price id server-side)."
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "default": 1,
            "minimum": 1
          },
          "success_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "CompleteUploadRequest": {
        "type": "object",
        "properties": {
          "etag": {
            "type": [
              "string",
              "null"
            ]
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CompleteUploadResponse": {
        "type": "object",
        "required": [
          "media"
        ],
        "properties": {
          "media": {
            "$ref": "#/components/schemas/Media"
          }
        }
      },
      "ContinueRequest": {
        "type": "object",
        "required": [
          "sku",
          "merchant_location_key",
          "fulfillment_policy_id",
          "payment_policy_id",
          "return_policy_id"
        ],
        "properties": {
          "fulfillment_policy_id": {
            "type": "string"
          },
          "images_source": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ImagesSource",
                "description": "Optional. Provide when you want to supply new images; otherwise the pipeline reuses prior resolved images."
              }
            ]
          },
          "marketplace": {
            "$ref": "#/components/schemas/MarketplaceId"
          },
          "merchant_location_key": {
            "type": "string"
          },
          "overrides": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PublicPipelineOverrides"
              }
            ]
          },
          "payment_policy_id": {
            "type": "string"
          },
          "return_policy_id": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          }
        }
      },
      "CreateUploadRequest": {
        "type": "object",
        "required": [
          "filename"
        ],
        "properties": {
          "content_length": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "filename": {
            "type": "string"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "propertyNames": {
              "type": "string"
            }
          },
          "product_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "purpose": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MediaPurpose"
              }
            ]
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EnqueueResponse": {
        "type": "object",
        "required": [
          "job_id"
        ],
        "properties": {
          "job_id": {
            "type": "string"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service"
        ],
        "properties": {
          "git_sha": {
            "type": [
              "string",
              "null"
            ]
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "HsufCore": {
        "type": "object",
        "required": [
          "schema_version",
          "product"
        ],
        "properties": {
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "schema_version": {
            "type": "string"
          }
        }
      },
      "HsufEnrichRequest": {
        "type": "object",
        "required": [
          "images"
        ],
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sku": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "HsufEnrichResponse": {
        "type": "object",
        "required": [
          "product"
        ],
        "properties": {
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "usage": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IngestUsage"
              }
            ]
          }
        }
      },
      "ImageField": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ]
      },
      "ImagesSource": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ]
      },
      "IngestUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0
          },
          "output_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "JobInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JobState"
          },
          {
            "type": "object",
            "required": [
              "id",
              "request",
              "created_at",
              "updated_at"
            ],
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "id": {
                "type": "string"
              },
              "max_retries": {
                "type": [
                  "integer",
                  "null"
                ],
                "format": "int32",
                "minimum": 0
              },
              "request": {
                "$ref": "#/components/schemas/PublicListingRequest"
              },
              "retry": {
                "type": [
                  "integer",
                  "null"
                ],
                "format": "int32",
                "minimum": 0
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "JobState": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "state"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "queued"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "state"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "running"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "result",
              "state"
            ],
            "properties": {
              "result": {
                "$ref": "#/components/schemas/ListingResponse"
              },
              "state": {
                "type": "string",
                "enum": [
                  "completed"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "error",
              "state"
            ],
            "properties": {
              "error": {
                "type": "string"
              },
              "stage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "state": {
                "type": "string",
                "enum": [
                  "failed"
                ]
              }
            }
          }
        ]
      },
      "ListMediaResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Media"
            }
          }
        }
      },
      "ListingResponse": {
        "type": "object",
        "required": [
          "listing_id",
          "stages"
        ],
        "properties": {
          "listing_id": {
            "type": "string"
          },
          "stages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StageReport"
            }
          }
        }
      },
      "MarketplaceId": {
        "type": "string",
        "enum": [
          "EBAY_US",
          "EBAY_UK",
          "EBAY_DE"
        ]
      },
      "Media": {
        "type": "object",
        "required": [
          "media_id",
          "object_key",
          "url",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "content_length": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "media_id": {
            "type": "string"
          },
          "object_key": {
            "type": "string"
          },
          "product_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "purpose": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MediaPurpose"
              }
            ]
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "MediaPurpose": {
        "type": "string",
        "enum": [
          "product_image",
          "hero",
          "session_frame"
        ]
      },
      "Offer": {
        "type": "object",
        "properties": {
          "price": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "price_currency": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_specification": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/UnitPriceSpecification"
              }
            ]
          }
        }
      },
      "PortalRequest": {
        "type": "object",
        "properties": {
          "return_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PortalResponse": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "PricingQuote": {
        "type": "object",
        "required": [
          "credits_estimated",
          "breakdown"
        ],
        "properties": {
          "breakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "credits_applied_cents": {
            "type": "integer",
            "format": "int64"
          },
          "credits_estimated": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "enterprise": {
            "type": "boolean"
          },
          "net_due_cents": {
            "type": "integer",
            "format": "int64"
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TierLine"
            }
          },
          "unit_rate_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "name",
          "image",
          "offers"
        ],
        "properties": {
          "brand": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Brand"
              }
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "depth": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/QuantitativeValue"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "height": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/QuantitativeValue"
              }
            ]
          },
          "image": {
            "$ref": "#/components/schemas/ImageField"
          },
          "material": {
            "type": [
              "string",
              "null"
            ]
          },
          "mpn": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "offers": {
            "$ref": "#/components/schemas/Offer"
          },
          "size": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/SizeField"
              }
            ]
          },
          "sku": {
            "type": [
              "string",
              "null"
            ]
          },
          "weight": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/QuantitativeValue"
              }
            ]
          },
          "width": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/QuantitativeValue"
              }
            ]
          }
        }
      },
      "ProductCreateRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional product UUID. If omitted, Hermes generates one."
          },
          "sku_alias": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional SKU alias. If omitted, Hermes generates one from the id."
          }
        }
      },
      "ProductRecord": {
        "type": "object",
        "required": [
          "id",
          "sku_alias",
          "listings_json",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "context_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "listings_json": {},
          "sku_alias": {
            "type": "string"
          },
          "structure_json": {},
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductUpdateRequest": {
        "type": "object",
        "properties": {
          "context_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "listings_json": {},
          "sku_alias": {
            "type": [
              "string",
              "null"
            ]
          },
          "structure_json": {}
        }
      },
      "PublicListingRequest": {
        "type": "object",
        "description": "Public-facing listing request without internal LLM override knobs.",
        "required": [
          "images_source",
          "merchant_location_key",
          "fulfillment_policy_id",
          "payment_policy_id",
          "return_policy_id"
        ],
        "properties": {
          "dry_run": {
            "type": "boolean"
          },
          "fulfillment_policy_id": {
            "type": "string"
          },
          "images_source": {
            "$ref": "#/components/schemas/ImagesSource"
          },
          "marketplace": {
            "$ref": "#/components/schemas/MarketplaceId"
          },
          "merchant_location_key": {
            "type": "string"
          },
          "overrides": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/PublicPipelineOverrides"
              }
            ]
          },
          "payment_policy_id": {
            "type": "string"
          },
          "publish": {
            "type": "boolean"
          },
          "return_policy_id": {
            "type": "string"
          },
          "sku": {
            "type": "string",
            "description": "Optional SKU identifier. If omitted or empty string, Hermes generates a unique SKU."
          },
          "use_signed_urls": {
            "type": "boolean"
          }
        }
      },
      "PublicPipelineOverrides": {
        "type": "object",
        "description": "Public-safe subset of pipeline overrides.",
        "properties": {
          "category": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/CategorySelectionInput"
              }
            ]
          },
          "product": {},
          "resolved_images": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PublicStageOutput": {
        "type": "object",
        "description": "Public-safe view of stage output to avoid leaking internal artifacts.",
        "properties": {
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "warnings": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "QuantitativeValue": {
        "type": "object",
        "properties": {
          "unit_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "unit_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "value": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          }
        }
      },
      "SizeField": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/QuantitativeValue"
          },
          {
            "$ref": "#/components/schemas/SizeSpecification"
          }
        ]
      },
      "SizeSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_group": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_system": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "StageReport": {
        "type": "object",
        "required": [
          "name",
          "elapsed_ms",
          "timestamp",
          "output"
        ],
        "properties": {
          "elapsed_ms": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string"
          },
          "output": {
            "$ref": "#/components/schemas/PublicStageOutput",
            "description": "Public-safe stage output summary for API docs."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TierLine": {
        "type": "object",
        "required": [
          "from",
          "rate_cents",
          "units",
          "cost_cents"
        ],
        "properties": {
          "cost_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "enterprise": {
            "type": "boolean"
          },
          "from": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "rate_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "to": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "units": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "TieredUsage": {
        "type": "object",
        "required": [
          "total_units",
          "total_events",
          "cost_cents",
          "credit_balance_cents",
          "credits_applied_cents",
          "net_due_cents",
          "tiers",
          "enterprise"
        ],
        "properties": {
          "cost_cents": {
            "type": "integer",
            "format": "int64"
          },
          "credit_balance_cents": {
            "type": "integer",
            "format": "int64"
          },
          "credits_applied_cents": {
            "type": "integer",
            "format": "int64"
          },
          "enterprise": {
            "type": "boolean"
          },
          "net_due_cents": {
            "type": "integer",
            "format": "int64"
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TierLine"
            }
          },
          "total_events": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "total_units": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "TopUpRequest": {
        "type": "object",
        "required": [
          "units"
        ],
        "properties": {
          "cancel_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional cancel URL; falls back to a default billing cancel page."
          },
          "success_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional success URL; falls back to a default billing success page."
          },
          "units": {
            "type": "integer",
            "format": "int32",
            "description": "Number of top-up units to purchase (maps directly to Stripe quantity).",
            "default": 1,
            "minimum": 1
          }
        }
      },
      "TopUpResponse": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Stripe Checkout URL to redirect the customer to."
          }
        }
      },
      "TopupOption": {
        "type": "object",
        "required": [
          "lookup_key",
          "price_id",
          "credits",
          "amount_cents",
          "unit_cents"
        ],
        "properties": {
          "amount_cents": {
            "type": "integer",
            "format": "int64"
          },
          "credits": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "lookup_key": {
            "type": "string"
          },
          "price_id": {
            "type": "string"
          },
          "unit_cents": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TopupOptionsResponse": {
        "type": "object",
        "required": [
          "options"
        ],
        "properties": {
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopupOption"
            }
          }
        }
      },
      "UnitPriceSpecification": {
        "type": "object",
        "properties": {
          "price": {
            "type": [
              "number",
              "null"
            ],
            "format": "double"
          },
          "price_currency": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UpdateMediaRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "propertyNames": {
              "type": "string"
            }
          },
          "purpose": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MediaPurpose"
              }
            ]
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          }
        }
      },
      "UploadMethod": {
        "type": "string",
        "enum": [
          "PUT"
        ]
      },
      "UploadSession": {
        "type": "object",
        "required": [
          "upload_id",
          "method",
          "upload_url",
          "expires_at",
          "object_key"
        ],
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "headers": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "method": {
            "$ref": "#/components/schemas/UploadMethod"
          },
          "object_key": {
            "type": "string"
          },
          "upload_id": {
            "type": "string"
          },
          "upload_url": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UsageCounters": {
        "type": "object",
        "required": [
          "listings_run",
          "jobs_enqueued",
          "credits_consumed"
        ],
        "properties": {
          "credits_consumed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "jobs_enqueued": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "listings_run": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "UsageSummary": {
        "type": "object",
        "required": [
          "org_id",
          "counters"
        ],
        "properties": {
          "counters": {
            "$ref": "#/components/schemas/UsageCounters"
          },
          "org_id": {
            "type": "string"
          },
          "tiered": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TieredUsage"
              }
            ]
          },
          "window_from": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "window_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "UserUsageResponse": {
        "type": "object",
        "required": [
          "credit_balance_credits",
          "credits_used_period",
          "listings_processed_period",
          "events_period",
          "period_start",
          "period_end"
        ],
        "properties": {
          "credit_balance_credits": {
            "type": "integer",
            "format": "int64",
            "description": "Current credit balance for the org (integer credits)."
          },
          "credits_used_period": {
            "type": "integer",
            "format": "int64",
            "description": "Credits used during the current billing period (integer credits).",
            "minimum": 0
          },
          "events_period": {
            "type": "integer",
            "format": "int64",
            "description": "Usage events recorded during the current billing period.",
            "minimum": 0
          },
          "listings_processed_period": {
            "type": "integer",
            "format": "int64",
            "description": "Listings processed during the current billing period.",
            "minimum": 0
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "description": "Period end (UTC, ISO 8601)."
          },
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "Period start (UTC, ISO 8601)."
          }
        }
      }
    },
    "securitySchemes": {
      "api_key_auth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Hermes-Key"
      }
    }
  },
  "security": [
    {
      "api_key_auth": []
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "Meta and health endpoints"
    },
    {
      "name": "Listings",
      "description": "Listing pipeline endpoints"
    },
    {
      "name": "Jobs",
      "description": "Background job endpoints"
    },
    {
      "name": "Billing",
      "description": "Billing and usage endpoints"
    },
    {
      "name": "HSUF",
      "description": "HSUF enrichment endpoints"
    },
    {
      "name": "Media",
      "description": "Media uploads and metadata"
    },
    {
      "name": "Products",
      "description": "Product sync and metadata"
    }
  ]
}
